@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #6556cd;
}


select {
    padding: 5px 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(0,0, 0, 0);
    cursor: pointer;
    color: white;
    margin-bottom: 10px;
}
select:hover {
    border-color: #444;
}
select:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
    color: black;
}